*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
}

.navbar{
    width: 100%;
    position: relative;
    z-index: 1000;
    background-color: transparent;
}

.form-control{
    background-color: rgba(255, 255, 255, 0.438);
}

.accueil{
    margin: -156px 0 0 0;
    padding: 0;
    background-size: contain;
    height: 100%;
}

.accueil img{
    width: 100%;
}